<h1>C'est moi</h1>

<counter [initial-value]="-15" [step]="6"></counter>

<counter></counter>

<!-- <div user-profile first-name="Ben" last-name="Ant" job="rien"></div>
<div
  user-profile
  [hired]="true"
  first-name="Oit"
  last-name="Unes"
  job="tjrs rien"
></div>
<div user-profile first-name="AAAAAh" last-name="hAAAAA" job="bah rien"></div> -->

<!-- <a confirm confirm-message="MONSTREEE" href="https://google.com">GOOGLE</a> -->

<!-- <a no-open href="https://google.com">Google</a> -->

<!-- <p highlight background-color="red" base-color="green">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique delectus
  aspernatur quia, incidunt nulla autem obcaecati tenetur at veniam excepturi,
  quam nesciunt eum minima error magnam a repellat! Saepe, dolor.
</p>

<p highlight background-color="yellow">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique delectus
  aspernatur quia, incidunt nulla autem obcaecati tenetur at veniam excepturi,
  quam nesciunt eum minima error magnam a repellat! Saepe, dolor.
</p>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique delectus
  aspernatur quia, incidunt nulla autem obcaecati tenetur at veniam excepturi,
  quam nesciunt eum minima error magnam a repellat! Saepe, dolor.
</p> -->
